aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiomysql==0.3.2
aiosignal==1.4.0
attrs==25.4.0
audioop-lts==0.2.2
certifi==2025.11.12
chat-exporter==3.1.0
discord.py==2.6.4
emoji==2.16.0
frozenlist==1.8.0
grapheme==0.6.0
idna==3.11
multidict==6.7.0
Pillow==12.0.0
propcache==0.4.1
PyMySQL==1.2.0
python-dotenv==1.2.1
pytz==2026.3.post1
tzdata==2026.4
yarl==1.22.0
